In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
k=[12,34,56,78,98,76,453,'dhoni']
k

[12, 34, 56, 78, 98, 76, 453, 'dhoni']

In [6]:
pd.Series(k)

0       12
1       34
2       56
3       78
4       98
5       76
6      453
7    dhoni
dtype: object

In [8]:
a=np.random.randint(15,20,50)
a

array([18, 15, 19, 18, 18, 17, 17, 18, 15, 15, 16, 19, 15, 19, 15, 18, 15,
       15, 15, 18, 19, 19, 19, 19, 16, 16, 18, 17, 19, 15, 16, 19, 16, 17,
       15, 17, 18, 19, 16, 17, 16, 17, 19, 16, 17, 15, 18, 17, 16, 17])

In [9]:
a.ndim

1

In [11]:
pd.Series(a)

0     18
1     15
2     19
3     18
4     18
5     17
6     17
7     18
8     15
9     15
10    16
11    19
12    15
13    19
14    15
15    18
16    15
17    15
18    15
19    18
20    19
21    19
22    19
23    19
24    16
25    16
26    18
27    17
28    19
29    15
30    16
31    19
32    16
33    17
34    15
35    17
36    18
37    19
38    16
39    17
40    16
41    17
42    19
43    16
44    17
45    15
46    18
47    17
48    16
49    17
dtype: int64

In [17]:
np.random.seed(34)
b=np.random.randint(100,200,(6,5))
b

array([[133, 185, 168, 135, 169],
       [111, 178, 129, 118, 129],
       [189, 129, 120, 196, 162],
       [105, 120, 151, 119, 185],
       [121, 163, 172, 142, 184],
       [172, 177, 136, 102, 137]])

In [19]:
df=pd.DataFrame(b,columns=['Roll','name','age','adds','country'],index=[182,183,185,186,187,187])
df

     Roll  name  age  adds  country
182   133   185  168   135      169
183   111   178  129   118      129
185   189   129  120   196      162
186   105   120  151   119      185
187   121   163  172   142      184
187   172   177  136   102      137

In [18]:
b.shape

(6, 5)